<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h3 class="card-title ">Dispositivos</h3>
                      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive table-hover">
                          <table class="table">
                              <thead class=" text-primary" >
                                  <th *ngFor="let item of tableHeader">
                                      {{item}}
                                  </th>
                                  
                              </thead>
                              <tbody>
                                  <tr *ngFor="let device of getValues()">
                                      <td>{{device.idDevice}}</td>
                                      <td>{{device.serial}}</td>
                                      <td>
                                          <div class='col-dot' *ngIf="device.disjuntor == '1'"><span class="label danger">Ligado</span></div> 
                                          
                                          <div class='col-dot' *ngIf="device.disjuntor == '0'"><span class="label success">Desligado</span></div>
                                          
                                    </td>
                                      <td>
                                          <div class='col-dot' *ngIf="device.estadoEixo=='2'"><span class="label danger">Conectado</span></div> 
                                          <div class='col-dot' *ngIf="device.estadoEixo=='1'"><span class="label warning">Teste</span></div>
                                          <div class='col-dot' *ngIf="device.estadoEixo=='0'"><span class="label success">Desconectado</span></div>
                                          
                                    </td>
                                      <td>{{device.dtUpdate}}</td>
                                      <td class="text-default">
                                        <button class='btn' [routerLink]="['/dispositivo/'+device.serial]">
                                            <i class="fa fa-info"></i>
                                        </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
             
      </div>
  </div>
</div>
